ul {
    margin: 0;
}

#container {
    display: flex;
    max-height: 90vh;
}

#container div {
    overflow-y: auto;
    width: 50%;
}

#named-value span {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
}

.name-value {
    text-align: right;
}

