ul {
    text-align: center;
    margin: 10px;
    padding: 0px;
    background-color: orange;
    border: 3px solid darkgoldenrod
}

li {
    padding: 0px 10px;
    text-align: right;
    background-color: goldenrod;
    list-style: none;
}

select {
    margin: 0px 10px;
}

#container {
    display: flex;
    max-height: 85vh;
}

#container div {
    overflow-y: auto;
    width: 50%;
}

#named-value span {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
}

.name-value {
    text-align: right;
}

